<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.one.shop.mapper.Hg_brandMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.one.shop.entity.Hg_brand">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="first_char" property="firstChar" />
        <result column="deleted_flag" property="deletedFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, first_char, deleted_flag
    </sql>
    <select id="findById" resultType="com.one.shop.entity.Hg_brand">
        select id,name,first_char firstChar from hg_brand
        where id=#{value}
    </select>
</mapper>
