<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.one.shop.mapper.OrdersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.one.shop.entity.Shop_orders">
        <id column="oid" property="oid" />
        <result column="uid" property="uid" />
        <result column="sumtotal" property="sumtotal" />
        <result column="address" property="address" />
        <result column="create_time" property="create_time" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        oid, uid, sumtotal, address, create_time
    </sql>
    <select id="getByUid" resultType="com.one.shop.entity.Shop_orders">
        SELECT orders.oid,sku.title,sku.image imgage,sku.price,detail.pnum,detail.id detailId,sku.price,sku.price*detail.pnum total
         from shop_orders orders
         JOIN
            shop_ordersdetail detail ON orders.oid=detail.oid
         JOIN
            shop_sku sku on sku.id=detail.skuid
            where uid=#{value}
    </select>

</mapper>
