<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.one.shop.mapper.SkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.one.shop.entity.Sk">
        <result column="sid" property="sid" />
        <result column="kid" property="kid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sid, kid
    </sql>

</mapper>
